<h1>Content List</h1>
<button mat-flat-button color="primary" style="margin-bottom: 20px;" (click)="goToAdd()">Add Content</button>
&nbsp;&nbsp;
<mat-form-field appearance="outline">
    <mat-label>Language</mat-label>
    <mat-select #languageSelect multiple name="selectedLanguages" [(ngModel)]="selectedLanguages">
        <mat-option *ngFor="let language of languages" (click)="clickedOption()" [value]="language">{{language}}
        </mat-option>
    </mat-select>
</mat-form-field>
&nbsp;&nbsp;
<mat-form-field appearance="outline">
    <mat-label>Genere</mat-label>
    <mat-select multiple name="selectedGeneres" [(ngModel)]="selectedGeneres">
        <mat-option *ngFor="let genere of generes" (click)="clickedOption()" [value]="genere">{{genere}}</mat-option>
    </mat-select>
</mat-form-field>
&nbsp;&nbsp;
<button mat-flat-button color="primary" style="margin-bottom: 20px;" (click)="sortByRating()">Sort By Rating</button>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Discription">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Discription </th>
        <td mat-cell *matCellDef="let element"> {{element.discription}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Genere">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Genere </th>
        <td mat-cell *matCellDef="let element"> {{element.genere}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Rating">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rating </th>
        <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Language">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Language </th>
        <td mat-cell *matCellDef="let element"> {{element.language}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="Trailer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Trailer </th>
        <td mat-cell *matCellDef="let element"> {{element.trailer}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="Movie/Series">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Movie/Series </th>
        <td mat-cell *matCellDef="let element"> {{element.movie}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="Cast">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cast </th>
        <td mat-cell *matCellDef="let element"> {{element.cast}} </td>
    </ng-container>

    <ng-container matColumnDef="Update">
        <th mat-header-cell *matHeaderCellDef> Update </th>
        <td mat-cell *matCellDef="let element"> <button mat-flat-button color="primary"
                (click)="update(element.id)">Update</button> </td>
    </ng-container>


    <ng-container matColumnDef="Delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element"> <button mat-flat-button color="warn"
                (click)="delete(element.id)">Delete</button> </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>



<!-- 
<div class="card my-5">
    <div class="card-body">
        <table border="1" class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Discription</th>
                    <th scope="col">Genere</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Language</th>
                    <th scope="col">Trailer</th>
                    <th scope="col">Movie/Series</th>
                    <th scope="col">Cast</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let content of contents">
                    <td>{{content.name}}</td>
                    <td>{{content.discription}}</td>
                    <td>{{content.genere}}</td>
                    <td>{{content.rating}}</td>
                    <td>{{content.language}}</td>
                    <td>{{content.trailer}}</td>
                    <td>{{content.movie == true ? "Movie" : "Series"}}</td>
                    <td>{{content.cast}}</td>
                    <td><button mat-flat-button color="primary" (click)="update(content.id)">Update</button></td>
                    <td><button mat-flat-button color="warn" (click)="delete(content.id)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->