<h1>List Subscriber</h1>
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="Position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Country">
    <th mat-header-cell *matHeaderCellDef> Country </th>
    <td mat-cell *matCellDef="let element"> {{element.country}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Admin?">
    <th mat-header-cell *matHeaderCellDef> Admin? </th>
    <td mat-cell *matCellDef="let element"> {{element.admin==true?"Yes":"No"}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
</table>
<!-- 
<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Email</th>
            <th scope="col">Country</th>
            <th scope="col">Admin?</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            
            <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
            <td>{{ user.country }}</td>
            <td>{{ user.admin }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->