.example-card {
  max-width: 150px;
  min-width: 100px;
  margin: 10px;
  min-height: 300px;
}

.example-header-image {
  background-size: cover;
}

.content {
  padding: 16px;
}

.content>mat-card {
  width: 200px;
}

.container {
  display: flex;
  overflow-x: auto;
}

.searchbarClass {
  width: 96%;
  margin-left: 2%;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

button {
  display: flex;
  margin: auto!important;
}