.example-card {
    max-width: 200px;
    min-width: 100px;
    margin: 10px;
  }
  
  .example-header-image {
    background-size: cover;
  }
  
  .content {
    padding: 16px;
  }
  
  .content>mat-card {
    width: 200px;
  }
  
  .container {
    display: flex;
    overflow-x: auto;
  }