<h1>WatchList</h1>
<div class="card my-5">
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Discription</th>
                    <th scope="col">Genere</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Language</th>
                    <th scope="col">Cast</th>


                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of watchlist">

                    <td>{{ item.name }}</td>
                    <td>{{ item.discription }}</td>
                    <td>{{ item.genere }}</td>
                    <td>{{ item.rating }}</td>
                    <td>{{ item.language }}</td>
                    <td>{{ item.cast }}</td>



                </tr>
            </tbody>
        </table>
    </div>
</div>