<strong>Name:</strong>&nbsp;<label>{{name}}</label>&nbsp;&nbsp;
<strong>Genere:</strong>&nbsp;<label>{{genere}}</label>&nbsp;&nbsp;

<strong>Language:</strong>&nbsp;<label>{{language}}</label>&nbsp;&nbsp;

<strong>Cast:</strong>&nbsp;<label>{{cast}}</label>&nbsp;&nbsp;

<strong>Rating:</strong>&nbsp;<label>{{rating}}</label>&nbsp;&nbsp;
<br />
<strong>Discription:</strong><label>{{discription}}</label>&nbsp;&nbsp;

<br />
<video #video id="video" controls preload="none" autoplay>
  <source [src]="vidlink" type="video/mp4">
</video>
<br />

<table>
  <tr>
    <td>
      <form [formGroup]="shareForm" (ngSubmit)="sendmail()">
        <mat-form-field>
          <input matInput formControlName="EmailId" placeholder="Enter Email ID">
        </mat-form-field>
        <button mat-button type="submit">Share</button>
      </form>
    </td>
    <td>

      <form [formGroup]="ratingForm" (ngSubmit)="giveRating()">

        <button mat-button type="button" (click)="playMovie()">Play Movie</button> &nbsp; &nbsp;
        <mat-form-field>
          <input matInput formControlName="rating" placeholder="Enter Rating (0-5)">

        </mat-form-field>
        <button mat-button type="submit">Give Rating</button> &nbsp; &nbsp;
      </form>
    </td>
  </tr>
</table>