<!-- <div class="player-wrapper">

    <h3>Simple Video Player</h3>
    <vg-player>
      <video #media [vgMedia]="media" id="singleVideo" preload="auto" controls>
        <source [src]="link" type="video/mp4">
       
      </video>
    </vg-player>

  </div> -->

  <video controls preload="none" autoplay>
    <!-- <source src="one-does-not-simply.webm" type="video/webm"> -->
    <source src="assets/2.mp4" type="video/mp4" >
  </video>
<!-- <div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <!-- <button mat-button [mat-dialog-close]="data.color" cdkFocusInitial>Ok</button> 
</div> -->